html,body{
  margin: 0;
  padding:0;
  width: 100%;
  font-size: 20px;
  background-color: #f9f9f9;
}
@font-face {
  font-family: intitle;
  src: url(title.otf);
}
a:link{
  text-decoration: none;
}
.content{
  display: block;
  margin: auto;
  width: 1200px;
  width: 12rem;
  height: 100%;
}
/* 首页幻灯设置 */
.index-banner{
  width: 100%;
  height: 640px;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
}
#swiperIndex{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.index-banner .pagination{
  position: absolute;
  right: 22px;
  right: 0.22rem;
  width: 10px;
  width: 0.1rem;
  top: 0;
  /* bottom: 0; */
  margin:auto;
  z-index: 1;
}
.index-banner .swiper-pagination-bullet{
  display：block;
  width: 100%;
  height: 10px;
  height: 0.1rem;
  background-color: #9f938e;
  cursor: pointer;
}
.index-banner .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #d94832;
}
.index-banner .content-k{
  position: absolute;
  left: 50%;
  margin-left: -600px;
  margin-left: -6rem;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}
.index-banner .banner-content{
  float: right;
  position: relative;
  height: 100%;
  width: 492px;
  width: 4.92rem;
  right: 0;
  background-color: rgba(0,0,0,0.8);
}
.index-banner .arrow-top,.index-banner .arrow-bottom{
  width: 50px;
  width: 0.5rem;
  height: 20px;
  height: 0.2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 23px auto;
  margin: 0.23rem auto;
  cursor: pointer;
}
.index-banner .arrow-top{
  background-image: url('../img/arrow-top.png');
  top: 0;
}
.index-banner .arrow-bottom{
  background-image: url('../img/arrow-bottom.png');
  bottom: 0;
}
/* 首页幻灯文字内容 */
.content-k .content{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.content-k.content .title,.content-k.content .text,.content-k.content .srcs{
  margin: atuo 62px auto 50px;
  margin: auto 0.62rem auto 0.5rem;
  color: white;
  text-align: justify;
}
.content-k.content .title{
  font-size: 40px;
  font-size: 0.4rem;
  max-height: 110px;
  max-height: 1.1rem;
  overflow: hidden;
  line-height: 59px;
  line-height: 0.59rem;
  margin-top: 96px;
  margin-top: 0.96rem;
}
.index-banner .swiper-slide img{
  width: 100%;
  height: 100%;
}
.content-k.content .text{
  font-size: 20px;
  font-size: 0.2rem;
  line-height: 30px;
  line-height: 0.3rem;
  max-height: 236px;
  max-height: 2.36rem;
  margin-top: 35px;
  margin-top: 0.35rem;
  margin-bottom: 17px;
  margin-bottom: 0.17rem;
  overflow: hidden;
}
.content-k.content .srcs{
  padding:6px 8px;
  padding: 0.06rem 0.08rem;
  padding-right: 37px;
  padding-right: 0.37rem;
  border: 1px solid #a0a09f;
  font-size: 18px;
  font-size: 0.18rem;
  background-image: url(../img/sanjiao.png);
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: 90% center;
}
/* 头部收藏关注下载 */
.header-top{
  background-color: #f1f1f1;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
  font-size: 0.14rem;
}
 .header-top .content{
  height: 40px;
  height: 0.4rem;
}
.header-top .sc,.header-top .gz,.header-top .xz{
  float: left;
  color: #5b5c62;
  margin-right: 24px;
  margin-right: 0.24rem;
  margin-top: 10px;
  margin-top: 0.1rem;
}
.header-top .el,.header-top .dl,.header-top .zc{
  float: right;
  color: #5b5c62;
  margin-top: 10px;
  margin-top: 0.1rem;
}
.header-top .sc{
  padding-left: 22px;
  padding-left: 0.22rem;
  background: url(../img/header-sc.png) no-repeat left center;
  background-size: auto 80%;
}
.header-top .gz{
  padding-left: 20px;
  padding-left: 0.20rem;
  background: url(../img/header-gz.png) no-repeat left center;
  background-size: auto 80%;
}
.header-top .xz{
  padding-left: 20px;
  padding-left: 0.2rem;
  background: url(../img/header-xz.png) no-repeat left center;
  background-size: auto 80%;
}
.header-top .el{
  margin-right: 34px;
  margin-right: 0.34rem;
}
.header-top .dl{
  padding-right: 13px;
  padding-right: 0.13rem;
  border-right: 1px solid #86868b;
  padding-right: 13px;
  margin-right: 0.13rem;
  color: #d94832;
}
.header-top .zc{
  margin-right: 28px;
  margin-right: 0.28rem;
}
.header-bottom .content{
  height: 136px;
  height: 1.36rem;
}
.header-bottom .logo-img{
  float: left;
  width: 300px;
  width: 3rem;
  height: 60px;
  height: 0.6rem;
  margin-top: 36px;
  margin-top: 0.36rem;
}
.logo-img img{
  width: 100%;
  height: 100%;
}
.header-bottom #search{
  float: left;
  position: relative;
  width: 250px;
  width: 2.5rem;
  height: 34px;
  height: 0.34rem;
  margin: 46px auto auto 36px;
  margin: 0.46rem auto auto 0.36rem;
  border: 1px solid #afafaf;
  overflow: hidden;
}
#search .text{
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 12px;
  padding-left: 0.12rem;
  outline: none;
  background-color: #f9f9f9;
}
#search .sub{
  position: absolute;
  height: 100%;
  width: 34px;
  width: 0.34rem;
  top: 0;
  right:0;
  border: none;
  background: #f9f9f9 url(../img/search.png) no-repeat left center;
  background-size: auto 70%;
}
.header-bottom .ad{
  margin-top: 16px;
  margin-top: 0.16rem;
  float: right;
  width: 500px;
  width: 5rem;
  height: 100px;
  height: 1rem;
}
.ad img{
  width: 100%;
  height: 100%;
}
/* 顶部导航 */
.nav{
  background-color: #db3820;
}
.nav .content{
  font-size: 22px;
  font-size: 0.22rem;
  overflow: hidden;
}
.nav .kk{
  height: 94px;
  height: 0.94rem;
  width: 1300px;
  width: 1300rem;
}
.nav .link-k{
  height: 100%;
  width: 212px;
  width: 2.12rem;
  background: url(../img/nav-bg.png) no-repeat;
  background-position: 172px center;
  background-position: 1.72rem center;
  background-size: auto 100%;
  float: left;
}
.no-margin{
  margin-left: 0!important;
}
.nav .link-k a{
  display: block;
  float: left;
  color: white;
  margin: 11px 48px 3px 0;
  margin: 0.11rem 0.48rem 0.03rem 0;
}
.nav .link-k a:hover{
  text-decoration: underline;
}
.content.ad{
  margin: 34px auto 31px auto;
  margin: 0.34rem auto 0.31rem auto;
}
.ad img{
  width: 100%;
  height: auto;
}
/* 数字报刊 */
.paper{
  height: 98px;
  height: 0.98rem;
  background-color: #f1f1f1;
  margin-bottom: 33px;
  margin-bottom: 0.33rem;
}
.paper .title{
  width: 192px;
  width: 1.92rem;
  margin:23px 55px auto 56px;
  margin:0.23rem 0.55rem auto 0.56rem;
  display: block;
  float: left;
}
.paper .paper-con{
  display: block;
  float: left;
  width: 410px;
  height:64px;
  width: 4.1rem;
  height:0.64rem;
  text-align: center;
  line-height: 64px;
  line-height: 0.64rem;
  background-color: #d2e3fb;
  color: black;
  font-size: 24px;
  font-size: 0.26rem;
  margin: 18px 33px auto auto;
  margin: 0.18rem 0.33rem auto auto;
}
/* 返回顶部 */
.retop{
  display: none;
  position: fixed;
  right: 76px;
  right: 0.76rem;
  bottom: 100px;
  bottom: 1rem;
  z-index: 11111;
  width: 60px;
  width: 0.6rem;
  cursor: pointer;
}
/* 列表1 */
.content.list1{
  overflow: hidden;
  height: auto;
}
.list1 .list-left{
  height: 500px;
  height: 5rem;
  width: 454px;
  width: 4.54rem;
  float: left;
}
/* 列表中点击切换 */
.ownswip{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ownswip-title{
  width: 100%;
  overflow: hidden;
  margin-bottom: 22px;
  margin-bottom: 0.22rem;
}
.ownswip-title .text{
  width: 50%;
  float: left;
  cursor: pointer;
}
.ownswip-title .text img{
  display: none;
  width: 100%;
  height: auto;
}
.ownswip-title .text .textt{
  display: block;
  font-family: "intitle";
  width: 100%;
  text-align: center;
  padding-top: 12px;
  border-top: 2px solid #dfdfdf;
  color: #7d746a;
  font-style: italic;
  font-size: 28px;
  font-size: 0.28rem;
}
.ownswip-title .text .textt.txt1{
  font-size: 22px;
  padding-top: 8px;
  font-size: 0.22rem;
}
.ownswip-title .text img.action{
  /* display: block; */
  display: none;
}
.ownswip-title .text .textt.action{
  color: #d94833;
  border-top-color: #d9462f;
}
.ownswip .content{
  width: 100%;
  height: 436px;
  height: 4.36rem;
}
.ownswip .content .content-t{
  width: 100%;
  display: none;
}
.ownswip .content .content-t.action{
  display: block;
}
/* 列表内容样式 */
.list1 .list-left .content-t .lists.title{
  color: #d94832;
  font-size: 24px;
  font-size: 0.24rem;
  padding-left: 0;
  background:none;
}
.list1 .list-left .content-t .lists{
  color: #2a2826;
  display: block;
  overflow: hidden;
  text-align: justify;
  height: 26px;
  line-height: 26px;
  height: 0.26rem;
  line-height: 0.26rem;
  font-size: 20px;
  font-size: 0.2rem;
  margin:24px 0;
  margin: 0.24rem 0;
  padding-left: 26px;
  padding-left: 0.26rem;
  background: url(../img/icon1.png) no-repeat left center;
  /* background-size: */
}
.list1 .list-right{
  float: right;
  width: 712px;
  height: 476px;
  width: 7.12rem;
  height: 4.76rem;
}
.list1 .list-banner{
  width: 100%;
  height: 100%;
  position: relative;
}
#swiperIndex2{
  width: 100%;
  height: 100%;
}
#swiperIndex2 .swiper-slide{
  /* width: 100%!important; */
}
#swiperIndex2 .swiper-slide img{
  width: 100%;
  height: 100%;
}
.swiperIndex2 img{
  width: 100%;
  height: 100%;
}
.list1 .list-banner .setting{
  background: url(../img/banner-bg1.png) no-repeat bottom left;
  background-size: 100% auto;
  width: 100%;
  height: 86px;
  height: 0.86rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
}
.list1 .list-banner .setting .pagination2{
  position: absolute;
  right: 0;
  bottom: 22px;
  right: 16px;
  bottom: 0.22rem;
  right: 0.16rem;
}
.list1 .list-banner .setting .title{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  text-align: center;
  line-height: 86px;
  line-height: 0.86rem;
}
.list1 .list-banner .setting .title-list{
  display: none;
  font-size: 22px;
  font-size: 0.22rem;
  color: white;
}
.list1 .swiper-pagination-bullet{
  width: 13px;
  height: 13px;
  width: 0.13rem;
  height: 0.13rem;
  background-color: #acacac;
  border-radius: 0;
  margin-left: 6px;
  margin-left: 0.06rem;
}
.list1 .list-banner .setting .title-list.active{
  display: block;
}
.list1 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #d94832;
}
/* 通知公告 */
.list2{
  overflow: hidden;
  margin-top: 9px;
  margin-top: 0.09rem;
}
.list2 .list-left{
  float: left;
  width: 447px;
  width: 4.47rem;
  height: 634px;
  height: 6.34rem;
  margin-top: 13px;
  margin-top: 0.13rem;
}
.tzgg{
  height: 310px;
  height: 3.1rem;
  border: 1px solid #d94832;
  margin-top: 14px;
  margin-top: 0.14rem;
}
.tzgg .title{
  position: relative;
  top: -14px;
  top: -0.14rem;
  width: 146px;
  width: 1.46rem;
  display: block;
  margin: 0 auto 0 auto;
  font-size: 26px;
  font-size: 0.26rem;
  font-family: "intitle";
  color: #d94832;
  text-align: center;
  background-color: #f9f9f9;
}
.tzgg .tzgg-list{
  display: block;
  height: 52px;
  height: 0.52rem;
  overflow: hidden;
  line-height: 52px;
  line-height: 0.52rem;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 14px;
  padding-left: 0.14rem;
  margin: 0 20px;
  margin: 0 0.2rem;
  background: url(../img/tzgg-icon.png) no-repeat left center;
  font-size: 18px;
  font-size: 0.18rem;
  color: black;
}
.list2 .ads{
  width: 100%;
  height: 276px;
  height: 2.76rem;
  margin-top: 28px;
  margin-top: 0.28rem;
  display: block;
}
.list2 .ads img{
  display: block;
  width: 100%;
  min-height: 100%;
}
/*  */
.list2 .list-right{
  width: 713px;
  width: 7.13rem;
  float: right;
  overflow: hidden;
}
.list2 .list-right .lm-list{
  width: 342px;
  width: 3.42rem;
  float: left;
}
.list2 .list-right .lm-list.lr{
  float: right;
}
.lm-list .titlex{
  display: block;
  width: 100%;
  margin-bottom: 17px;
  margin-bottom: 0.17rem;
  border-top: 2px solid #dfdfdf;
}
.lm-list .titlex a{
  display: inline-block;
  padding: 10px 26px 0 18px;
  padding: 0.1rem 0.26rem 0 0.18rem;
  position: relative;
  top: -2px;
  font-family: "intitle";
  color: #d95945;
  border-top: 2px solid #d95945;
  font-size: 25px;
  font-size: 0.25rem;
  font-style: italic;
}
.lm-list .lm-list-k1{
  display: block;
  height: 176px;
  height: 1.76rem;
  overflow: hidden;
  position: relative;
}
.lm-list-k1 img{
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lm-list-k1 .bq{
  background: url(../img/list-g1.png) no-repeat right center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  color: white;
  width: 83px;
  height: 33px;
  width: 0.83rem;
  height: 0.33rem;
  text-indent: 19px;
  text-indent: 0.19rem;
  line-height: 33rem;
  line-height: 0.33rem;
  font-size: 19px;
  font-size: 0.19rem;
}
.lm-list-k1 .title{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 10px;
  width: auto;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 16px;
  font-size: 0.16rem;
  height: 20px;
  height: 0.2rem;
  overflow: hidden;
  background: url(../img/banner-bg1.png) no-repeat bottom left;
  background-size: 100% auto;
}
.lm-list.gheight{
  height: 390px;
  height: 3.9rem;
  overflow: hidden;
  margin-top: 16px;
  margin-top: 0.16rem;
}
.lm-list .lm-list-k2{
  display: block;
  overflow: hidden;
  height: 80px;
  height: 0.8rem;
  margin-left: 11px;
  margin-left: 0.11rem;
  margin-bottom: 10px;
  margin-bottom: 0.1rem;
}
.lm-list-k2 img{
  width: 120px;
  height: 78px;
  width: 1.2rem;
  height: 0.78rem;
  float: left;
  margin-right: 12px;
  margin-right: 0.12rem;
}
.lm-list-k2 .text{
  margin-top: 4px;
  margin-top: 0.04rem;
  height: 70px;
  height: 0.7rem;
  color: black;
  font-size: 17px;
  font-size: 0.17rem;
  line-height: 24px;
  line-height: 0.24rem;
  text-align: justify;
  letter-spacing: 2px;
  overflow: hidden;
}
.lm-list .lm-list-k3{
  display: block;
  padding: 0 0 18px 0;
  padding: 0 0 0.18rem 0;
  margin-bottom: 17px;
  margin-bottom: 0.17rem;
  border-bottom: 1px #cecece dashed;
}
.lm-list .lm-list-k3 .title{
  height: 22px;
  height: 0.22rem;
  overflow: hidden;
  font-size: 19px;
  font-size: 0.19rem;
  color: black;
  margin-bottom: 16px;
  margin-bottom: 0.16rem;
}
.lm-list .lm-list-k3 .text{
  font-size: 17px;
  font-size: 0.17rem;
  color: #878383;
  height: 47px;
  height: 0.47rem;
  line-height: 26px;
  line-height: 0.26rem;
  overflow: hidden;
}
.list3{
  overflow: hidden;
}
.list3 .list-left{
  float: left;
  width: 792px;
  width: 7.92rem;
}
.list3 .lm-list{
  width: 384px;
  width: 3.84rem;
  height: 200px;
  height: 2rem;
  float: left;
  overflow: hidden;
}
.list3 .titlex a,.list4 .titlex a{
  font-size: 22px;
  font-size: 0.22rem;
}
.list3 .lm-list.lr{
  float: right;
}
.list3 .lm-list .lm-list-k1,.list4 .lm-list .lm-list-k2{
  display: block;
  background: url(../img/icon1.png) no-repeat left center;
  font-size: 20px;
  font-size: 0.2rem;
  padding-left: 20px;
  padding-left: 0.2rem;
  height: 22px;
  height: 0.22rem;
  line-height: 22px;
  line-height: 0.22rem;
  overflow: hidden;
  color: black;
  margin-bottom: 26px;
  margin-bottom: 0.26rem;
  overflow: hidden;
}
.list3 .lm-list .lm-list-k2{
  height: auto;
  margin:0;
}
.list3 .lm-list .lm-list-k2 .title{
  font-size: 21px;
  font-size: 0.21rem;
  height: 26px;
  height: 0.26rem;
  display: block;
  color: black;
  margin-bottom: 13px;
  margin-bottom: 0.13rem;
  overflow: hidden;
}
.list3 .lm-list .lm-list-k2 .text{
  font-size: 19px;
  font-size: 0.19rem;
  color: #8d7e7d;
  line-height: 28px;
  line-height: 0.28rem;
  margin-bottom: 0;
  height: 82px;
  height: 0.82rem;
}
.list3 .list-right{
  float: right;
  width: 384px;
  width: 3.84rem;
}
.list3 .list-right .lm-list-k1{
  height: 202px;
  height: 2.02rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 0.1rem;
}
.list3 .list-right .lm-list-k1 .imgs,.list4 .lm-list-k1 .imgs{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.list3 .list-right .lm-list-k1 .title,.list4 .lm-list-k1 .title{
  background: url(../img/banner-bg1.png) no-repeat bottom left;
  background-size: 100% auto;
  color: white;
  font-size: 18px;
  font-size: 0.18rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  padding:7px 10px 14px 10px;
  padding: 0.07rem 0.1rem 0.14rem 0.1rem;
  width: auto;
  text-align: center;
}
.list3 .list-right .lm-list-k2{
  display: block;
  border-bottom: 1px dashed #e1e1e1;
  overflow: hidden;
  padding-bottom: 9px;
  padding-bottom: 0.09rem;
}
.list3 .list-right .lm-list-k2 .imgs{
  float: right;
  margin-left: 29px;
  margin-left: 0.29rem;
  width: 120px;
  height: 60px;
  width: 1.2rem;
  height: 0.6rem;
  margin-right: 0;
}
.list3 .list-right .lm-list-k2 .title{
  margin-top: 4px;
  margin-top: 0.04rem;
  height: 49px;
  height: 0.49rem;
  font-size: 20px;
  font-size: 0.2rem;
  line-height: 25px;
  line-height: 0.25rem;
  color: black;
  overflow: hidden;
}
.list3 .ownswip .content{
  height: 352px;
  height: 3.52rem;
}
.list4 .k{
  width: 1300px;
  width: 13rem;
}
.list4 .lm-list{
  float: left;
  width: 389px;
  width: 3.89rem;
  margin-right: 17px;
  margin-right: 0.17rem;
  margin-bottom: 32px;
  margin-bottom: 0.32rem;
}
.list4 .lm-list-k1{
  margin-bottom: 17px;
  margin-bottom: 0.17rem;
}
.list4 .lm-list .lm-list-k2{
  padding: 13px 0 13px 18px;
  padding: 0.13rem 0 0.13rem 0.18rem;
  border-top: 1px dashed #b8b8b8;
  margin: 0;
  white-space: nowrap;
}
.list4{
  overflow: hidden;
}
.list5 img.title{
  width: 100%;
  display: block;
  margin-bottom: 36px;
  margin-bottom: 0.36rem;
}
.list5 .titlex{
  display: block;
  width: 100%;
  margin-bottom: 22px;
  margin-bottom: 0.22rem;
  border-top: 2px solid #dfdfdf;
  text-align: center;
}
.list5 .titlex a{
  display: inline-block;
  padding: 10px 56px 0 48px;
  padding: 0.1rem 0.56rem 0 0.48rem;
  position: relative;
  top: -2px;
  font-family: "intitle";
  color: #d95945;
  border-top: 2px solid #d95945;
  font-size: 22px;
  font-size: 0.22rem;
  font-style: italic;
}
.list5 .cont{
  width: 1300px;
  width: 13rem;
  overflow: hidden;
}
.list5 .imgk{
  float: left;
  width: 396px;
  height:400px;
  width: 3.96rem;
  height: 4rem;
  overflow: hidden;
  margin-right: 6px;
  margin-right: 0.06rem;
}
.imgk .lt,.imgk .ll,.imgk .lr{
  position: relative;
  display: block;
}
.imgk .title{
  position: absolute;
  background: url(../img/banner-bg1.png) no-repeat bottom left;
  background-size: 100% auto;
  color: white;
  bottom: 0;
  left: 0;
  right:0;
  padding:7px 10px 14px 10px;
  padding: 0.07rem 0.1rem 0.14rem 0.1rem;
  width: auto;
  text-align: center;
}
.list5 .imgk img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.imgk .lt{
  width: 100%;
  height: 264px;
  height: 2.64rem;
  margin-bottom: 6px;
  margin-bottom: 0.06rem;
  clear: both;
}
.imgk .lr,.imgk .ll{
  margin-bottom: 6px;
  margin-bottom: 0.06rem;
  width: 196px;
  height: 130px;
  width: 1.96rem;
  height: 1.3rem;
}
.imgk .lr{
  float: right;
}
.imgk .ll{
  float: left;
}
.lt .title{
  font-size:19px;
  font-size: 0.19rem;
}
.ll .title,.lr .title{
  font-size:17px;
  font-size: 0.17rem;
}
/* 页脚 */
.footer{
  margin-top: 106px;
  margin-top: 1.06rem;
}
.footer1{
  height: 48px;
  height: 0.48rem;
  background-color: #f3f3f3;
  overflow: hidden;
  padding-right: 25px;
  padding-right: 0.25rem;
}
.footer1 a{
  display: block;
  margin-top: 14px;
  margin-top: 0.14rem;
  color: black;
  font-size: 16px;
  font-size: 0.16rem;
}
.footer1 .ll{
  float: left;
  margin-left: 37px;
  margin-left: 0.37rem
}
.footer1 .lr{
  float: right;
  padding-left: 18px;
  margin-left: 15px;
  padding-left: 0.18rem;
  margin-left: 0.15rem;
  background: url(../img/icon3s.png) no-repeat left center;
  background-size: auto 82%;
}
.footer2{
  overflow: hidden;
  width: 1200PX;
  width: 12rem;
}
.footer2 .fk{
  width: 312px;
  width: 3.12rem;
  height: 108px;
  height: 1.08rem;
  float: left;
  margin: 11px 0 0 71px;
  margin: 0.11rem 0 0 0.71rem;
  border-right: 1px solid #eeeeee;
}
.footer2 .fk .hrs{
  display: block;
  margin: 8px 0 14px 0;
  margin: 0.08rem 0 0.14rem 0;
  color: #050506;
  font-size: 16px;
  font-size: 0.16rem;
}
.footer p.mes{
  text-align: center;
  font-size: 16px;
  font-size: 0.16rem;
  color: black;
  border-bottom: 1px solid #f1f1f1;
  margin:14px 0;
  padding-bottom: 16px;
}
.footicon{
  display: block;
  width: 62px;
  width: 0.62rem;
  margin: 16px auto
}
/* 频道列表页 */
.content.list-con{
  overflow: hidden;
  margin-top: 60px;
  margin-top: 0.6rem;
}
.page-list{
  background-color: #fbfbfb;
  border-bottom: 1px solid #e2e2e2;
}
.page-list #search{
  float: right;
  margin-right: 8px;
  margin-right: 0.08rem;
}
.page-list .list-nav{
  float: left;
  color: #aeaeae;
  font-size: 22px;
  font-size: 0.22rem;
  margin: 64px 0 0 23px;
  margin: 0.64rem 0 0 0.23rem;
}
.list-nav .nav-l{
  color: #aeaeae;
}
.list-nav .nav-n{
  color: #e73324;
}
.list-con .list-left{
  float: left;
  width: 760px;
  width: 7.6rem;
}
.list-con .list-right{
  float: rihgt;
  width: 384px;
  width: 3.84rem;
}
.list-con .list-left .list-banner{
  width: 100%;
  height: 392px;
  height: 3.92rem;
}
.list-con .list1 .list-banner .setting{
  height: 60px;
  height: 0.6rem;
}
.list-con .list1 .list-banner .setting .title-list{
  height: 100%;
  line-height: 60px;
  line-height: 0.6rem;
}
/* 列表中的列表样式 */
.list-con .list2{
}
.list-con .list2 .lm-list1{
  height: 162px;
  height: 1.62rem;
  border-bottom: 1px dashed #dadada;
  position: relative;
  margin-top: 34px;
  margin-top: 0.34rem;
}
.list-con .list2 .lm-list1 .title{
  display: block;
  height: 26px;
  height: 0.26rem;
  font-size:22px;
  font-size: 0.22rem;
  color: black;
  overflow: hidden;
  margin-bottom: 16px;
  margin-bottom: 0.16rem;
  margin-top: 4px;
  margin-top: 0.04rem
}
.list-con .list2 .lm-list1 .text{
  line-height: 23px;
  line-height: 0.23rem;
  height: 46px;
  height: 0.46rem;
  overflow: hidden;
  color: #7b787b;
  font-size: 17px;
  font-size: 0.17rem;
}
.list-con .list2 .lm-list1 .imgs{
  float: right;
  width: 180px;
  height: 120px;
  width: 1.8rem;
  height: 1.2rem;
  margin-left: 50px;
  margin-left: 0.5rem;
}
.list-con .list2 .lm-list1 .date{
  position: absolute;
  left: 0;
  bottom: 40px;
  bottom: 0.4rem;
  font-size: 13px;
  font-size: 0.13rem;
  color: #858686;
}
.list-con .list2 .pages{
  text-align: center;
  margin-top: 56px;
  margin-top: 0.56rem;
}
.pages .pages-li{
  display: inline-block;
  height: 30px;
  height: 0.3rem;
  line-height: 30px;
  line-height: 0.3rem;
  padding: 0 10px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  color: #060627;
  font-size: 13px;
  font-size: 0.13rem;
}
.pages .pages-li.action{
  background-color: rgba(0,0,0,0);
  border: none;
}
/* 新闻排行 推荐 */
.list-con .list-right{
  float: right;
  width: 382px;
  width: 3.82rem;
}
.list-con .list-right .lm-list1 .title,.list-con .list-right .lm-list2 .title{
  padding: 5px 12px;
  border-left: 4px solid #d5361e;
  color: #171c1b;
  font-size: 22px;
  font-size: 0.22rem;
  margin-bottom: 12px;
  margin-bottom: 0.12rem;
}
.list-con .list-right .lm-list1 .lm-list-k{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 16px 18px 16px 5px;
  padding: 0.16rem 0.18rem 0.16rem 0.05rem;
  border-bottom: 1px solid #e0e0e0;
  color:#201f1d;
  font-size: 18px;
  font-size: 0.18rem;
}
.list-con .list-right .lm-list1 .lm-list-k::before{
  display: inline-block;
  content: attr(data-list);
  height: 24px;
  height: 0.24rem;
  line-height: 24px;
  line-height: 0.24rem;
  padding: 0 8px;
  padding: 0 0.08rem;
  background-color: #aaaaaa;
  font-size: 12px;
  font-size: 0.12rem;
  color: white;
  margin-right: 14px;
  margin-right: 0.14rem;
}
.lm-list-k[data-list="1"]::before,.lm-list-k[data-list="2"]::before,.lm-list-k[data-list="3"]::before{
  background-color: #ff161f!important;
}
.list-con .list-right .lm-list2{
  margin-top: 14px;
  margin-top: 0.14rem;
}
.list-con .list3 .lm-list-k1 .title{
  color: white!important;
  border: none;
  font-size: 18px;
  font-size: 0.18rem;
}
.list-con .list3 .lm-list-k2 .title{
  border: none!important;
  font-size: 18px;
  font-size: 0.18rem;
  margin-bottom: 0!important;
  padding: 0!important;
  text-align: justify;
}
.list-con .list3 .lm-list-k2 .imgs{
  margin-left: 20px!important;
  margin-left: 0.2rem!important;
}
.list-con .list3 .list-right .lm-list-k2{
  padding: 22px 0;
  padding: 0.22rem 0;
}
/* 详情页新闻内容 */
.list-con .list-left .news .title{
  color: #0e0001;
  font-size: 32px;
  font-size: 0.32rem;
}
.list-con .list-left .news .desc{
  margin: 28px 0 18px 0;
  margin: 0.28rem 0 0.18rem 0;
  overflow: hidden;
  color: #74686b;
  font-size: 16px;
  font-size: 0.16rem;
}
.news .desc .date,.news .desc .numa{
  float: left;
  margin-right: 10px
}
.news .desc .numa{
  padding-left: 10px;
  border-left: 1px solid #828282;
}
.news .desc .author{
  float: right;
}
.list-con .list-left .news .cons{
  height: 300px;
  overflow: hidden;
}
.list-con .list-left .news .cons .player{
  width: 700px;
  width: 7rem;
  height: 393.75px;
  height: 3.9375rem;
  margin: 20px auto;
  background-color: black;
}
.list-con .list-left .news .seeq{
  color: #e62819;
  font-size: 22px;
  font-size: 0.22rem;
  float: right;
  margin-top: 50px;
  margin-top: 0.5rem;
  border: none;
  background-color: rgba(0,0,0,0);
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}
.list-con .list-left .newComm,.plsub .newComm{
  margin-top: 152px;
  margin-top: 1.52rem;
}
.list-con .list-left .newComm .title,.plsub .newComm .title{
  border-top: 1px #bfbfbf solid;
}
.list-con .list-left .newComm .title span,.plsub .newComm .title span{
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 12px;
  border-top: 2px solid #d8442e;
  font-size: 18px;
  font-size: 0.18rem;
}
.list-con .list-left .newComm form,.plsub .newComm form{
  display: block;
  position: relative;
  top: -30px;
  top: -0.3rem;
}
.list-con .list-left .newComm form .f-title,.plsub .newComm form .f-title{
  float: right;
  margin-right: 8px;
  margin-right: 0.08rem;
  font-size: 17px;
  font-size: 0.17rem;
}
form .f-title span{
  color: #b6180d;
  font-style: italic;
  font-weight: bold;
}
form textarea{
  clear: right;
  margin: 20px 0;
  margin: 0.2rem 0;
  width: 100%;
  height: 156px;
  height: 1.56rem;
}
.list-con .list-left .newComm form .sub,.plsub .newComm form .sub{
  float: right;
  border: none;
  width: 120px;
  height: 38px;
  width: 1.2rem;
  height: 0.38rem;
  background: #828282;
  color: white;
  font-size: 20px;
  font-size: 0.2rem;
}
/* 登录注册 */
.list-con.login{
  background-color: white;
  margin-top: 0!important;
  padding-bottom: 320px;
}
.list-con .login .l-title{
  margin: 14px 22px;
  margin: 0.14rem 0.22rem;
  padding: 14px 26px;
  padding: 0.14rem 0.26rem;
  background-color: #f5f5f5;
}
.l-title{
  overflow: hidden;
  font-size: 18px;
  font-size: 0.18rem;
}
.l-title .zc{
  float: left;
  color: #7e7b7a;
}
.l-title .dl{
  float: right;
  color: #dc4029;
}
.login .login-f{
  margin: 36px 0 0 379px;
  margin: 0.36rem 0 0 3.79rem;
}
.login-f .phone,.login .password,.login-f .code{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 396px;
  width: 3.96rem;
  height: 46px;
  height: 0.46rem;
  border: 1px solid #bdbfc3;
  padding-left: 55px;
  padding-left: 0.55rem;
  border-radius: 4px;
  margin-bottom: 43px;
  margin-bottom: 0.43rem;
  background: url(../img/phone.png) no-repeat left center;
  background-size: auto 100%;
}
.login-f .password{
  background-image: url(../img/password.png);
}
.login-f .code{
  width: 200px;
  width: 2rem;
  background-image: url(../img/code.png);
}
.login-f .codeimg{
  height: 46px;
  height: 0.45rem;
  vertical-align: middle;
}
.login-f .codetxt{
  color: #6599f8;
  font-size: 17px;
  font-size: 0.17rem;
}
.login-f .passt{
  position: relative;
  top: 10px;
  top: 0.1rem;
  display: inline-block;
  width: 300px;
  width: 3rem;
  font-size: 12px;
  font-size: 0.12rem;
  color: #90969e;
  line-height: 22px;
  line-height: 0.22rem;
}
.login-f .read{
  font-size: 12px;
  font-size: 0.12rem;
  color: #969696;
}
.login-f .submit{
  margin-left:40px;
  margin-left: 0.4rem;
  width: 148px;
  height: 38px;
  width: 1.48rem;
  height: 0.38rem;
  border-radius:4px;
  border-radius: 0.04rem;
  background-color: #f2482f;
  color: white;
  font-size: 18px;
  font-size: 0.18rem;
  border: none;
}
.about{
  background-color: white;
  overflow: hidden;
}
.about .about-left{
  float: left;
  margin-left: 102px;
  margin-left: 1.02rem;
  margin-top: 160px;
  margin-top: 1.6rem;
}
.about .about-left .about-list{
  font-size: 20px;
  font-size: 0.2rem;
  color: #797979;
  margin-bottom: 38px;
  margin-bottom: 0.38rem;
  display: block;
}
.about .about-left .about-list.action{
  color: #d82a10;
}
.about .about-right{
  float: left;
  width: 718px;
  margin-left: 166px;
  width: 7.18rem;
  margin-left: 1.66rem;
  margin-top: 73px;
  margin-top: 0.73rem;
}
.about .about-right .title{
  text-align: center;
  color: #555555;
  font-size: 34px;
  font-size: 0.34rem;
  font-weight: bold;;
}
.about .about-right .desc{
  margin-top: 30px;
  margin-top: 0.3rem;
  font-size: 20px;
  font-size: 0.2rem;
}
.pic-con{
  background-color: white;
  border: 1px solid #f1f1f1;
}
.pic-con .pic-title{
  padding: 30px 28px 24px 28px;
  padding: 0.3rem 0.28rem 0.24rem 0.28rem;
  color: black;
  font-size: 26px;
  font-size: 0.26rem;
  text-align: justify;
}
.pic-con .desc{
  padding: 0 28px;
  padding: 0 0.28rem;
  overflow: hidden;
}
.pic-con .desc .date{
  float: left;
  color: #9c9fa1;
  font-size: 12px;
  font-size: 0.12rem;
}
.pic-con .desc .screen,.pic-con .desc .sett{
  float: right;
  color: #5b5b5b;
  font-size: 14px;
  font-size: 0.14rem;
}
.pic-con .desc .screen{
  padding-left: 50px;
  padding-left: 0.5rem;
  margin-left: 22px;
  margin-left: 0.22rem;
  background: url(../img/quanping.png) no-repeat;
  background-position: 22px center;
  background-position: 0.22rem center;
  background-size: auto 100%;
  border-left: 2px solid #dcdcdc;
}
.pic-banner{
  width: 1080px;
  height: 720px;
  width: 10.8rem;
  height: 7.2rem;
  margin: 24px auto;
}
#swiperPic{
  width: 100%;
  height: 100%;
}
#swiperPic .swiper-slide{
  /* width: 100%!important; */
}
.pic-banner #swiperPic .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  /* background-color: black; */
}
.pic-con .banner-desc{
  overflow: hidden;
  padding-bottom: 23px;
  padding-bottom: 0.23rem;
}
.pic-con .banner-desc .num{
  float: left;
  margin-left: 32px;
  margin-left: 0.32rem;
  color: #909197;
  font-size: 16px;
  font-size: 0.16rem;
}
.banner-desc .num .zn{
  font-size: 23px;
  font-size: 0.23rem;
  color: #931014;
}
.pic-con .banner-desc .title{
  float: left;
  margin-left: 11px;
  margin-left: 0.11rem;
  font-size: 16px;
  font-size: 0.16rem;
}
.banner-desc .title .title-list{
  display: none;
}
.banner-desc .title .title-list.action{
  display: block;
}
.pic-con .banner-desc .dz{
  float: right;
  margin-right: 20px;
  padding: 60px 0.5rem 14px 0.5rem;
  padding: 0.6rem 0.5rem 0.14rem 0.5rem;
  color: #504750;
  font-size: 15px;
  font-size: 0.15rem;
  border-left: 1px #f0f0f0 solid;
  background: url(../img/xinicon.png) no-repeat;
  background-size: 40px auto;
  background-size: 0.4rem auto;
  background-position: center 8px;
  background-position: center 0.08rem;
}
.banner-set{
  overflow: hidden;
  margin-top: 10px;
  margin-top: 0.1rem;
}
.banner-set .sc,.banner-set .pl,.banner-set .fx{
  float: right;
  color: #666666;
  font-size: 15px;
  font-size: 0.15rem;
}
.banner-set .fx{
  margin-left: 14px;
  margin-left: 0.14rem;
}
.banner-set .sc{
  padding: 0 26px 0 28px;
  padding: 0 0.26rem 0 0.28rem;
  border-right: 1px solid #e3e3e3;
  background: url(../img/banner-sc.png) no-repeat left center;
  background-size: 18px auto;
  background-size: 0.18rem auto;
}
.banner-set .pl{
  margin-left: 10px;
  margin-left: 0.1rem;
  padding: 0 37px 0 27px;
  padding: 0 0.37rem 0 0.27rem;
  background: url(../img/banner-pl.png) no-repeat left center;
  background-size: 20px auto;
  background-size: 0.2rem auto;
  border-right: 1px solid #e3e3e3;
}
/* 图集推荐 */
.banner-tj{
  border: 1px solid #f4f4f4;
  background-color: white;
  margin-top: 28px;
  margin-top: 0.28rem;
}
#bannerTj{
  padding: 10px;
  height: 190px;
  height: 1.9rem;
}
#bannerTj .swiper-slide{
  width: 287px;
  height: 190px;
  width: 2.87rem;
  height: 1.9rem;
  margin: 0 3px;
}
#bannerTj .swiper-slide img{
  width: 100%;
  height: 100%;
}
.pagination3{
  text-align: center;
}
.pagination3 .swiper-pagination-bullet{
  margin: 16px 8px;
  margin: 0.16rem 0.08rem;
}
.pagination3 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #cf3125;
}
/* 图集评论 */
.plsub{
  border: 1px solid #f4f4f4;
  background-color: white;
  margin-top: 40px;
  margin-top: 0.4rem;
}
.plsub .newComm{
  margin: 24px 20px;
  margin: 0.24rem 0.2rem;
}
