html,body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #8e8e8e;
	/*font-family: "arial, helvetica, sans-serif";*/
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;;
	background-color: #f3f4f5;
}
a{
	color: #000;
	text-decoration: none;
}
*{
	outline: none;
}
img{
	width: 100%;
	min-height: 100%;
	display: block;
}
.main{
	width: 1200px;
	margin: auto;
	height: 70px;
}
.header{
	background-color: #fcfcfc;
	height: auto;
}
.logo,.nav{
	float: left;
}
.search{
	float: right;
	margin-right: 4px;
}
.logo{
	margin: 10px 74px auto 32px;
	display: block;
	width: 84px;
	height: 50px;
}
.nav{
	height: 100%;
}
.nav a{
	height: 100%;
	line-height: 68px;
	margin-right: 40px;
	display: inline-block;
	font-size: 18px;
	/*font-weight: 600;*/
}
.nav a.active,.nav a:hover{
	color: #3f69ab;
	border-bottom: 4px solid #3f69ab;
	height: 66px;
	/* font-weight: bold; */
	font-size: 21px;
}
.search{
	width: 240px;
	height: 26px;
	border: 1px solid #bebebe;
	border-radius: 30px;
	margin-top: 20px;
	position: relative;
}
.search input[type=submit]{
	position: absolute;
	border: none;
	background-color: rgba(0,0,0,0);
	right: 8px;
	top: 4px;
	width: 20px;
	height: 20px;
	background-image: url(../img/search.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
	cursor: pointer;
}
.search input[type=text]{
	height: 100%;
	border: none;
	background-color: rgba(0,0,0,0);
	padding-left: 16px;
	font-size: 12px;
	color: #aaaaaa;
	width: 70%;
}
#indexBnaner{
	position: relative;
}
a.swiper-slide{
	display: block;
}
a.swiper-slide img{
	display: block;
	width: 100%;
	height: auto;
	min-height: initial;
}
#indexBnaner .swiper-wrapper,#indexBnaner .swiper-slide{
	height: auto!important;
	overflow: hidden;
}
#indexBnaner .pagination{
	position: absolute;
	bottom: 34px;
	width: 100%;
	text-align: center;
	z-index: 1111;
}
#indexBnaner .swiper-pagination-switch{
	cursor: pointer;
	display: inline-block;
	margin: auto 10px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.6);
}
#indexBnaner .swiper-pagination-switch.swiper-active-switch{
	background-color: rgba(255,255,255,1);
}
.next,.pre{
	width: 40px;
	height: 68px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 110px;
	background-image: url(../img/left.png);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
	cursor: pointer;
}
#indexBnaner .next{
	background-image: url(../img/right.png);
	left: auto;
	right: 110px;
}
.totop{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 150px;
	display: none;
	background: url(../img/totop.svg) no-repeat center center;
	background-size: 100% auto;
	z-index: 111111111111111111111111;
}
.content{
	width: 1200px;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
}
.content-left{
	float: left;
	width: 876px;
	background-color: white;
	padding-bottom: 36px;
}
.content-right{
	float: right;
	width: 306px;
	background-color: white;
}
.title{
	display: block;
	line-height: 24px;
	padding-left: 36px;
	position: relative;
	font-size: 17px;
	color: #333333;
	margin-top: 25px;
}
.title span{
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: #3f69ab;
	left: 0;
	top: 1px;
}
.title .border{
	height: 1px;
	background-color: #eeeeee;
	margin: 22px 30px 0 auto;
}
.list1{
	margin: 0 30px 0 30px;
	padding: 30px 0;
	border-bottom: 1px solid #f4f6f7;
	overflow: hidden;
}
.list1 .imgk{
	width: 192px;
	height: 128px;
	float: left;
	margin-right: 20px;
}
.list1 .text{
	height: 128px;
	/*padding-left: 330px;*/
	position: relative;
}
.list1.noimg .text{
	height: auto;
}
.list1.noimg .author, .list1.noimg .view{
	position: initial;
	float: left;
	margin-top: 30px;
}
.list1.noimg .view{
	float: right;
}
.noimg .author{
	left: 0;
}
.author{
	left: 212px;
}
.list1 .title-text{
	display: block;
	color: #000;
	font-size: 24px;
	padding-top: 8px;
}
.list1 .desc{
	color: #8e8e8e;
	font-size: 14px;
	margin-top: 30px;
}
a.title-text:hover{
	font-weight: bold;
}
.list1 .author,.list1 .view{
	position: absolute;
	bottom: 14px;
	font-size: 14px;
	color: #a7a6a6;
}
.author span{
	color: #3f69ab;
}
.list1 .view{
	right: 6px;
	padding-left: 23px;
	background: url(../img/view.png) no-repeat left center;
	background-size: auto 70%;
}
/*分页样式*/
.page-k{
	text-align: center;
	margin-top: 36px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.page-k span{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	border-radius: 4px;
	background-color: #e7e7e7;
	color: #636464;
	font-size: 13.5px;
	cursor: pointer;
}
.page-k span.active{
	color: white;
	background-color: #6193e2;
}
.page-k span.page-p{
	padding:0 6px 0 16px;
	background:url(../img/page-p.png) #e7e7e7 no-repeat left center;
	background-size: auto 100%;
}
.page-k span.page-n{
	padding:0 16px 0 6px;
	background:url(../img/page-n.png) #e7e7e7 no-repeat right center;
	background-size: auto 100%;
}
.content-right .title .border{
	margin: 22px 24px 30px -10px;
}
.right-list1{
	display: block;
	margin: 26px 42px 24px 42px;
}
.right-list1 img{
	border: 1px solid #f5f6f7;
	height: auto;
	min-height: initial;
}
.right-list1 .text{
	text-align: center;
	margin-top: 14px;
	color: #292929;
	font-size: 16px;
}
.content-right .more{
	display: block;
	padding: 18px 0;
	margin: 22px 24px 0 24px;
	border-top: #eeeeee solid 1px;
	text-align: center;
}
.content-right .more span{
	padding-right: 17px;
	background: url(../img/more.png) no-repeat right center;
	color: #9dafcf;
	font-size: 14px;
}
.fenge{
	background-color: #f3f4f5;
	height: 30px;
}
.ads img,.ad img{
	display: block;
	height: auto;
	min-height: initial;
}
.content-right .tag-k{
	margin: 0 0 0 24px;
	overflow: hidden;
}
.tag-k a{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	color: #1863e1;
	font-size: 12px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	height: 24px;
	line-height: 26px;
	padding: 0 6px;
}
.content-right .follow-k{
	text-align: center;
}
.content-right .follow-k img{
	width: auto;
	margin: auto;
	height: auto;
	min-height: initial;
}
.content-right .follow-k>span{
	font-size: 15px;
	color: #8d8d90;
}
.content-right .follow-k .text{
	font-size: 15px;
	color: #343434;
	margin: 24px;
	border-top: 1px solid #eeeeee;
	padding-top: 16px;
}
.follow-k .text img{
	display: inline;
	/* margin-top:2px; */
}
.follow-k .text a{
	color: #1863e1;
}
/*友情链接*/
.fri-link .link-k{
	width: 1222;
}
.fri-link span{
	float: left;
	color: #999;
	font-size: 13px;
}
.fri-link span.link{
	font-size: 12px;
	padding-left: 20px;
	background: url(../img/link.png) no-repeat left center;
	background-size: auto 70%;
	margin: 0 22px 16px 0;
}
/*页脚*/
.footer{
	background-color: #1a1818;
	color: #7b7e7f;
	font-size: 12px;
}
.footer .content{
	padding: 42px 0;
	overflow: inherit;
	height: 40px;
}
.footer img{
	width: auto;
}
img.f-l{
	margin-right: 18px;
	width: 101px!important;
	height: auto!important;
	min-height: initial!important;
}
.footer .f-l{
	float: left;
}
.footer .f-r{
	float: right;
	position: relative;
}
.footer .f-r .erm-wb,.footer .f-r .erm-wx{
	border: 1px solid #F3F4F5;
	position: absolute;
	top: -140px;
	width: 100%;
	left: 0;
	display: none;
}
.footer .f-r .erm-wb img,.footer .f-r .erm-wx img{
	display: block;
	width: 100%;
	height: auto!important;
	min-height: auto!important;
}
.footer .txt-top a{
	color: #7b7e7f;
	margin-right: 6px;
}
.footer .txt-bottom{
	margin-top:6px;
}
.footer .f-r a{
	margin-left: 16px;
}
.footer .f-r img{
	display: inline-block;
	width: 45px;
	height: 45px;
	min-height: initial;
}
/*独家、动态*/
.content-left .top-ban{
	overflow: hidden;
}
.content-left .top-ban-left{
	width: 366px;
	float: left;
}
.top-ban-right #indexBnaner{
	width: 100%;
	height: 100%;
}
.content-left .top-ban-right{
	width: 508px;
	height: 300px;
	float: right;
}
.top-ban-right #indexBnaner .swiper-container{
	height: 100%;
}
.top-ban-right #indexBnaner .swiper-wrapper{
	height: 100%!important;
}
.top-ban-right #indexBnaner a.swiper-slide{
	width: 100%;
	height: 100%!important;
	display: block;
	background-color: #999999;
	overflow: hidden;
}
.top-ban-right #indexBnaner a.swiper-slide img{
	width: 100%;
	min-height: 100%;
	display: block;
}
.top-ban-right .next,.top-ban-right .pre{
	width: 30px;
	height: 60px;
	left: 0;
}
.top-ban-right #indexBnaner .next{
	left: auto;
	right: 0;
}
.top-ban-right #indexBnaner .pagination{
	bottom: 13px;
}
.top-ban-right #indexBnaner .swiper-pagination-switch{
	margin: auto 5px;
}
.top-ban .ban-list{
	display: block;
	color: #575757;
	font-size: 14px;
	margin: 20px 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content-left .title{
	overflow: hidden;
}
.content-left .title .fl,
.title.zs .fl{
	float: left;
	height: 42px;
	margin-right: 26px;
	padding: 0 6px;
	color: #959595;
}
.blues{
	color: #3F69AB!important;
}
.content-left .title .fl.active,
.title.zs .fl.active{
	border-bottom: 2px solid #3f69ab;
	color: #333333;
}
.content-left .title .border,
.title.zs .border{
	clear: left;
}
.pros-k .title.zs .border{
	width: 920px;
	margin-left: 0;
}
.content-left .title .search-txt{
	float: right;
	font-size: 18px;
	color: #959595;
	margin-right: 34px;
	margin-top: 6px;
}
.content-right .right-list2{
	margin: 12px 24px;
}
.content-right .right-list2 a{
	display: block;
	color: #464850;
	font-size: 13px;
	padding-left: 24px;
	background: url(../img/listhv.png) no-repeat left 4px;
}
.content-right .right-list2.redhat a{
	background-image: url(../img/listred.png);
}
.content-right .right-list2 .date{
	margin: 15px auto auto 24px;
}
.search-main{
	width: 570px;
	height: 48px;
	margin: 0 auto 48px auto;
}
.search-main input[type=text]{
	border: 1px solid #eff0f1;
	height: 46px;
	float: left;
	width: 500px;
	background-color: white;
	border-radius: 6px;
	font-size: 20px;
	color: #1f1f1f;
	text-indent: 13px;
}
.search-main input[type=submit]{
	float: right;
	height: 48px;
	width: 55px;
	background-color: #5187dd;
	background-image: url(../img/search-white.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 6px;
	border: none;
}
/*详情*/
.content-left .news-k .news-title{
	color: #3a3a3a;
	font-size: 26px;
	margin: 30px ;
}
.news-k img{
	display: inline-block;
	max-width: 100%!important;
	height: auto!important;
	min-height: initial!important;
	margin-left: -2em;
}
.content-left .news-k .txt{
	margin: 0 30px;
	border-bottom: 2px solid #f3f3f3;
	font-size: 12px;
	color: #1e1e26;
	overflow: hidden;
	padding-bottom: 14px;
}
.content-left .news-k .desc-new{
	font-size: 14px;
	color: #666666;
	margin: 10px 30px 0 30px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eeeeee;
}
.news-k .author{
	float: left;
	/*margin-left: 18px;*/
}
.news-k .date{
	float: right;
	margin-right: 18px;
	font-size: 12px;
	color: #c8c8c7;
}
.news-content{
	margin: 26px;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
}
.news-content p,.news-content div{
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	margin-top: 30px;
	margin-bottom: 30px;
	text-indent: 2em;
}
.news-content font{
	color: #333333;
}
.content-left .pro-top{
	background-color: #f3f4f5;
	overflow: hidden;
	padding-bottom: 60px;
}
.content-left .pro-top .pro-top-left{
	float: left;
	height: 335px;
	margin-right: 20px;
}
.pro-top-left img{
	width: auto;
	height: 100%;
	display: block;
}
.content-left .pro-top .pro-top-right{
	height: 335px;
	position: relative;
}
.pro-title{
	font-size: 24px;
	margin-bottom: 30px;
	color: #262626;
}
.pro-date{
	font-size: 18px;
	color: #262626;
	margin-bottom: 30px;
}
.pro-txt{
	font-size: 16px;
	color: #9e9f9f;
	padding-right: 50px;
	text-align: justify;
}
.pro-btn{
	position: absolute;
	left: 274px;
	bottom: 26px;
	background-color: #478af4;
	color: white;
	border-radius: 4px;
	width: 104px;
	height: 36px;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
}
/*一级页面*/
.title2{
	display: block;
	color: #333333;
	font-size: 17px;
}
.title2 span{
	display: inline-block;
	width: 22px;
	height: 22px;
	background-color: #3f69ab;
	position: relative;
	top: 4px;
	margin-right: 6px;
}
/*3D幻灯*/
.banner-ac{
	position: relative;
	margin-top: 46px;
}
.pro-tags{
	margin-top: 60px;
	border-top: 1px #464646 dashed;
	border-bottom: 1px #464646 dashed;
}
.pro-tags-k{
	width: 1230px;
	padding: 42px 0 25px 0;
	overflow: hidden;
}
.pro-tags-k a{
	float: left;
	padding: 16px 22px;
	border: 1px solid #dedede;
	margin-right: 10px;
	margin-bottom: 16px;
	background-color: white;
	color: #3f69ab;
	font-size: 17px;
}
.pro-con{
	margin-top: 90px;
}
.pro-con .pro-con-k{
	margin-top: 50px;
	width: 1250px;
	overflow: hidden;
}
.pro-con .list2{
	width: 376px;
	margin: 0 38px 36px 0;
	background-color: white;
	color: #999999;
	padding-bottom: 15px;
	float: left;
}
.pro-con .list2 .title{
	height: auto;
	line-height: 30px;
	padding: 0 22px;
	margin-top: 26px;
	margin-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px;
	color: #1c1c1c;
}
.pro-con .list2 .imgk{
	height: 190px;
	overflow: hidden;
}
.pro-con .list2 .tex{
	padding: 0 22px;
	font-size: 14px;
	color: #434343;
}
.pro-con .list2 .des{
	margin-top: 18px;
	overflow: hidden;
	font-size: 12px;
	padding: 0 22px;
}
.pro-con .list2 .des .date{
	float: left;
}
.pro-con .list2 .des .view{
	float: right;
	color: #999;
}
.pro-con .page-k span.page-p{
	background-image: url(../img/page-p1.png);
}
.pro-con .page-k span.page-n{
	background-image: url(../img/page-n1.png);
}
/*指数页面*/
.zs-list{
	background-color: white;
	margin: 0 0 32px 0;
	overflow: hidden;
	border: 1px solid #e9e9e9;
	color: #333333;
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.zs-list.noimg .zs-view{
	position: static;
	margin: 20px auto 18px 22px;
	font-size: 12px;
}
.zs-img{
	float: right;
	margin-left: 66px;
	width: 377px;
	height: 226px;
}
.zs-title{
	display: block;
	margin: 25px 0 14px 20px;
	font-size: 25px;
}
.zs-date{
	font-size: 12px;
	margin: 0 0 16px 20px;
}
.zs-line{
	width: 32px;
	height: 2px;
	background-color: #333333;
	margin: 0 auto 12px 20px;
}
.zs-txt{
	font-size: 15px;
	line-height: 20px;
	margin: 0 auto 1px 22px;
	color: #666666;
}
.zs-view{
	position: absolute;
	bottom: 18px;
	left: 22px;
	font-size: 12px;
}
.title.zs{
	margin-bottom: 40px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.title.zs .border{
	background-color: #dedede;
}
/*产品列表*/
.pros-k{
	background-color: white;
	overflow: hidden;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.pros-con{
	width: 1000px;
	overflow: hidden;
}
.pros-con .list4{
	display: block;
	float: left;
	height: 216px;
	width: 404px;
	margin: 0 70px 60px 62px;
	margin-right: 0;
	overflow: hidden;
	position: relative;
}
.pros-con .list4 .imgk{
	width: 160px;
	height: 214px;
	float: left;
	margin-right: 12px;
}
.pros-con .list4 .imgk img{
	width: 100%;
	min-height: 100%;
}
.pros-con .list4 .pros-title{
	display: block;
	font-size: 18px;
	color: #000;
	margin: 7px 0 18px 0;
}
.pros-con .list4 .pros-date{
	color: #201f1f;
	font-size: 14px;
	margin-bottom: 22px;
}
.pros-con .list4 .pros-txt{
	font-size: 12px;
	color: #9b9b9b;
	line-height: 19.4px;
	text-align: justify;
	height: 77px;
	overflow: hidden;
}
.pros-con .list4 .pros-desc{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;
}
.pros-con .list4 .pros-desc .city{
	position: absolute;
	left: 175px;
	border: 1px solid #3f69ab;
	color: #3f69ab;
	padding: 4px 16px;
	border-radius: 3px;
	font-size: 13px;
}
.pros-con .list4 .pros-desc .view{
	position: absolute;
	right: 0;
	color: #a7a6a6;
	font-size: 12px;
	padding-left: 22px;
	background: url(../img/view.png) no-repeat left center;
	background-size: auto 76%;
	bottom: 12px;
}
/*关于我们*/
.about-left{
	width: 270px;
	float: left;
	border-top: 6px solid #3f69ab;
	padding-top: 20px;
}
.about-link{
	display: block;
	height: 50px;
	position: relative;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: #3c3c3c;
}
.about-link span{
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	top: 50%;
	margin-top: -9px;
	background-color: #3f69ab;
	display: none;
}
.about-link.active span{
	display: block;
}
.about-link.active{
	background-color: #e6e6e6;
	color: #3f69ab;
}
.about-right{
	width: 820px;
	float: right;
	background-color: white;
	padding: 40px;
}
/* 搜索 */
.search-ks .list1 .imgk{
	width: 300px;
	height: 200px;
}
.search-ks .list1 .text{
	height: 200px;
}
.search-ks .list1.noimg .text{
	height: auto;
}
.search-ks .author{
	left: 326px;
}